body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

div.container {
  padding: 15px;
  background-color: #99badd;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

h1#register {
  font-weight: bold;
  color: #000080;
}

hr {
  margin-bottom: 30px;
  border: 2px solid #0080ff;
}

#registerbtn {
  background-color:#000080;
  color: #ffffff;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: #000080;
  text-decoration: none;
}

a:hover {
  color: #0080ff;
  text-decoration: underline;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
